<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <title>MK Sweater Calculator</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>

<h1>MK Sweater Calculator</h1>
<p>Základ je připraven.</p>

<script src="./app.js"></script>
</body>
</html>

